{% extends 'base.html' %}

{% block content %}

<h2>Feedbacks Pendentes ({{feedbacks.count}}) </h2>
{% if feedbacks %}
<div  style=" max-height: 1000px; overflow-x:auto;overflow-y:auto;">
    <table class="table table-striped table-bordered">
        <thead style="position: sticky;top: 0;background-color: #fff; z-index: 1;">
            <tr>
                <th>Cadastro</th>
                <th>Aluno</th>
                <th>Peso: Inicial > Atual</th>
                <th>Dieta</th>
                <th>Suplemento</th>
                <th>Treino</th>
                <th>Aerobico</th>
                <th>Dedicação</th>
                <th>Protocolo</th>
                <th>Protocolo Enviado</th>
                <th>Novo Retorno</th>

                </tr>
            </thead>
            <tbody>
                {% for feedback in feedbacks %}
                    <tr>
                        <td><a href="{% url 'feedback_detail' feedback.id %}">{{feedback.cadastrado_em|date:"d/m/Y"}}</a> </td>
                        <td><a href="{% url 'perfil_aluno' feedback.aluno.id %} ">{{ feedback.aluno.nome }} {{feedback.aluno.sobrenome}}</a> </td>
                        <td>{{feedback.aluno.peso}} > {{ feedback.peso_atual }}</td>
                        <td>{{ feedback.get_dieta_display }}</td>
                        <td>{{ feedback.get_suplemento_display }}</td>
                        <td>{{ feedback.get_treino_display }}</td>
                        <td>{{ feedback.get_aerobico_display }}</td>
                        <td>{{ feedback.comprometimento }}</td>
                        <td><a href="{% url 'feedbacks_protocolo' feedback.protocolo.id %}"><button class="btn-info btn-sm">Ver</button></a> </td>
                        <td>{{ feedback.protocolo.cadastrado_em|date:"d/m/Y" }}</td>
                        <td><a href="{% url 'novo_retorno' feedback.id %}"><button class="btn-success">NOVO</button> </a> </td>


                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
<h5>Sem Feedbacks no momento</h5>
{% endif %}

{% endblock %}