{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card">

        <div class="card-body">
            <div class="row">
                <div class="col text-center">
                    <div class="card-img-top">
                        {% if aluno.avatar %}                        
                        <img style='max-height:300px;max-width: 300px;margin: 0 auto;border-radius: 50%;' src="{{aluno.avatar.url}}" alt="">
                        {% endif %}
                    </div><br>
                    <h5 class="card-title">{{aluno.nome}} {{aluno.sobrenome}} </h5>
                        <div class="card-body">
                        <p class="card-text">Altura: {{aluno.altura}} </p>
                        <p class="card-text">Peso: {{aluno.peso}} > {{aluno.peso_atual}} </p>
                        <p class="card-text">Data de nascimento: {{aluno.data_nascimento|date:'d/m/Y'}} </p>
                        <p class="card-footer"><a href="{% url 'exames_aluno' aluno.pk %}"><button class="btn-warning"><i class="fas fa-syringe is-danger"></i></button></a> | <a href="{% url 'avaliacoes_fisicas_aluno' aluno.pk %}"><button class="btn-warning"><i class="fas fa-dumbbell"></i></button></a> </p>

                        <br>
                </div></div>
                <div class="col">
                    <div class="card-body">
                        <p class="card-text"><strong>Objetivo Curto Prazo:</strong>  {{aluno.objetivo_curto}} </p>
                        <p class="card-text"><strong>Objetivo Longo Prazo:</strong>  {{aluno.objetivo_longo}} </p>
                        <br>
                        <h6>Protocolos: <a href="{% url 'novo_protocolo' aluno.id %} "><button class="btn-success btn-sm">Novo Protocolo</button></a> </h6><br>
    
                        {% if protocolos %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead style="position: sticky;top: 0;background-color: #fff; z-index: 1;">
                                    <tr>
                                        <th>Detalhes</th>
                                        <th>Enviado</th>
                                        <th>Carbohidrato</th>
                                        <th>Proteína</th>
                                        <th>Gordura</th>
                                        <th>kcal</th>
                                        <th>Treino</th>
                                        <th>Arquivo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for protocolo in protocolos %}
    
                                    <tr>
                                        <td><a href="{% url 'feedbacks_protocolo' protocolo.id %} "><button class="btn-info btn-sm"> Detalhar</button></a></td>
                                        <td>{{ protocolo.cadastrado_em|date:"d/m/Y" }}</td>
                                        <td>{{ protocolo.carbo }}</td>
                                        <td>{{ protocolo.prot }}</td>
                                        <td>{{ protocolo.fat }}</td>
                                        <td>{{ protocolo.kcal }}</td>
                                        <td>{{ protocolo.treino }}</td>
                                        {% if protocolo.protocolo %}
                                        <td style="text-align: center;"><a href="{{ protocolo.protocolo.url }}"><i class="fas fa-file-pdf"></i></a></td>
                                        {% else %}
                                        <td>Sem arquivo</td>
                                        {% endif %}   
                                    </tr>
                                    {% endfor %}
    
                                </tbody>
                            </table>
                        </div><br>

                </div><br>

                        {% elif protocolos and aluno.pago %}
                        <h6 style="text-align: center;">Protocolo pendente de envio! <a href="{% url 'novo_protocolo' aluno.id %} "><button class="btn-info btn-sm">Enviar</button></a></h6><br>
                        {% else %}
                        <h6 style="text-align: center;">Enviar Protocolo apenas após o pagamento do plano.</h6><br>
                        {% endif %}

                    </div>
                </div>
                </div>

                {% if aluno.pago %}
                <div class="card-footer" style="text-align:center; background-color:rgb(40, 253, 218);">
                    <h6>Aluno com o pagamento em dia!</h6>
                    <span>Plano {{aluno.get_plano_display}} | Vencimento: {{aluno.vencimento_plano}} </span>
                </div>
                    {% else %}
                    <div class="card-footer" style="text-align:center; background-color:rgba(236, 28, 0, 0.904);">
                        <h6>Aluno com plano vencido!</h6>
                    </div>
                    {% endif %}
            </div>


        </div>

    </div>
    
</div><br>
<div class="hero">
    <div class="card">
        <div class="card-body">
            
            <div class="row">
                <div class="col-md-12">
                    <h3 class="card-title">Fotos Frente</h3>
                    <br>
                    <div class="row">
                        <div class="col">
                            {% if aluno.foto_frente %}
                            <img class="img-fluid" src="{{aluno.foto_frente.url}}" alt=""> 
                            {% else %} 
                            <h6>Aluno precisa atualizar o perfil.</h6>
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if ultimo_feedback_aluno.foto_frente %}
                            <img class="img-fluid" src="{{ultimo_feedback_aluno.foto_frente.url}}" alt=""> 
                            {% elif ultimo_feedback.foto_frente %}
                            <img src="{{ultimo_feedback.foto_frente.url}} " class="img-fluid" alt="">
                            {% else %}
                            <h6>Aguardando novo Feedback!</h6>
                            {% endif %}
                        </div>

                    </div>

                </div>
                <div class="col-md-12">
                    <hr>
                    <h3 class="card-title">Fotos Lado</h3>
                    <br>
                    <div class="row">
                        <div class="col">
                            {% if aluno.foto_frente %}
                            <img class="img-fluid" src="{{aluno.foto_lado.url}}" alt=""> 
                            {% else %}
                            <h6>Aluno precisa atualizar o perfil.</h6>
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if ultimo_feedback_aluno.foto_lado %}
                            <img class="img-fluid" src="{{ultimo_feedback_aluno.foto_lado.url}}" alt=""> 
                            {% elif ultimo_feedback.foto_lado %}
                            <img src="{{ultimo_feedback.foto_lado.url}} " class="img-fluid" alt="">
                            {% else %}
                            <h6>Aguardando novo Feedback!</h6>
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                    <h3 class="card-title">Fotos Verso</h3>
                    <br>
                    <div class="row">
                        <div class="col">
                            {% if aluno.foto_frente %}
                            <img class="img-fluid" src="{{aluno.foto_verso.url}}" alt=""> 
                            {% else %}
                            <h6>Aluno precisa atualizar o perfil.</h6>
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if ultimo_feedback_aluno.foto_verso %}
                            <img class="img-fluid" src="{{ultimo_feedback_aluno.foto_verso.url}}" alt=""> 
                            {% elif ultimo_feedback.foto_verso %}
                            <img src="{{ultimo_feedback.foto_verso.url}} " class="img-fluid" alt="">
                            {% else %}
                            <h6>Aguardando novo Feedback!</h6>
                            {% endif %}
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}