{% extends 'base.html' %}
{% block content %}
    <div class="container my-4">
        <h2>Planos Expirados</h2>
        {% if planos_expirados %}
            {% for inativo in planos_expirados %}
                <div  style=" max-height: 1000px; overflow-x:auto;overflow-y:auto;">
                    <table class="table table-striped table-bordered">
                        <thead style="position: sticky;top: 0;background-color: #fff; z-index: 1;">
                            <tr>
                                <th>Cadastro</th>
                                <th>Aluno</th>
                                <th>Email</th>
                                <th>Celular</th>
                                <th>Gerenciar Aluno</th>
                                <th>Plano</th>
                                <th>Vencimento do Plano</th>
                                <th>Pago?</th>

                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>{{inativo.cadastrado_em|date:"d/m/Y"}} </td>
                                    <td><a href="{% url 'perfil_aluno' inativo.pk %} ">{{ inativo.nome }} {{inativo.sobrenome}}</a></td>
                                    <td>{{ inativo.email }}</td>
                                    <td>{{ inativo.celular }}</td>
                                    <td><a href="{% url 'gerenciar_aluno' inativo.pk %}"><button class="btn-warning">Gerenciar</button></a></td>
                                    <td style="vertical-align:middle">{{inativo.plano}} </td>                                    
                                    <td>{{ inativo.vencimento_plano }}</td>
                                    <td>{% if inativo.pago %} <i style="color: green;" class="fas fa-check fa-lg"></i> {% else %} <i class="fas fa-times"></i>{% endif %} </td>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                <br><br>
            {% endfor %}
        {% else %}
            <p>Sem alunos com planos expirados.</p>
        {% endif %}
    </div>

{% endblock %}