{% extends 'base.html' %}

{% block content %}

<h2>Protocolo {{protocolo.cadastrado_em|date:"d/m/Y"}}  </h2>
<div  style=" max-height: 1000px; overflow-x:auto;overflow-y:auto;">
    <table class="table table-striped table-bordered">
        <thead style="position: sticky;top: 0;background-color: #fff; z-index: 1;">
            <tr>
                <th>Aluno</th>
                <th>Protocolo</th>
                <th>Carbohidrato</th>
                <th>Proteína</th>
                <th>Gordura</th>
                <th>Treino</th>
                <th>Feedbacks</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>{{ protocolo.aluno.nome }}{{protocolo.aluno.sobrenome}} </td>
                        <td>{{ protocolo.protocolo }}</td>
                        <td>{{ protocolo.carbo }}</td>
                        <td>{{ protocolo.prot }}</td>
                        <td>{{ protocolo.fat }}</td>
                        <td>{{ protocolo.treino }}</td>
                        <td>{{ protocolo.feedback.count }}</td>
                    </tr>
            </tbody>
        </table>
    </div>

<h3>Feedbacks deste Protocolo</h3>
{% if feedbacks %}
<div  style=" max-height: 1000px; overflow-x:auto;overflow-y:auto;">
    <table class="table table-striped table-bordered">
        <thead style="position: sticky;top: 0;background-color: #fff; z-index: 1;">
            <tr>
                <th>Cadastro</th>
                <th>Aluno</th>
                <th>Peso</th>
                <th>Dieta</th>
                <th>Suplemento</th>
                <th>Treino</th>
                <th>Aerobico</th>
                <th>Comprometimento</th>
                <th>Novo Retorno</th>

                </tr>
            </thead>
            <tbody>
                {% for feedback in feedbacks %}
                    <tr>
                        <td><a href="{% url 'feedback_detail' feedback.id %}">{{feedback.cadastrado_em|date:"d/m/Y"}}</a> </td>
                        <td>{{ feedback.aluno.nome }}{{feedback.aluno.sobrenome}} </td>
                        <td>{{ feedback.peso_atual }}</td>
                        <td>{{ feedback.dieta }}</td>
                        <td>{{ feedback.suplemento }}</td>
                        <td>{{ feedback.treino }}</td>
                        <td>{{ feedback.aerobico }}</td>
                        <td>{{ feedback.comprometimento }}</td>
                        <td><a href="{% url 'novo_retorno' feedback.id %}"><button class="btn-success">NOVO</button> </a> </td>


                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
<h5>Sem Feedbacks no momento</h5>
{% endif %}
{% if not user.is_staff %}
<a href="{% url 'novo_feedbackV1' protocolo.id %} "><button class="btn-warning">Novo Feedback</button></a>
{% endif %}
{% endblock %}