{% extends 'base.html' %}
{% block title %} Feedback {% endblock %}

<style>
    .custom-image {
        width: 600px; /* Adjust the width as per your requirement */
        height: 600px; /* Adjust the height as per your requirement */
        object-fit: cover;
    }

    @media (max-width: 576px) {
        .custom-image {
            width: 100%; /* Full width on mobile devices */
            height: auto;
        }
    }
</style>

{% block content %}
<div class="hero">
            <h2>Protocolo {{feedback.protocolo.cadastrado_em|date:"d/m/Y"}}  </h2>
            <div  style=" max-height: 1000px; overflow-x:auto;overflow-y:auto;">
                <table class="table table-striped table-bordered">
                    <thead style="position: sticky;top: 0;background-color: #fff; z-index: 1;">
                        <tr>
                            <th>Aluno</th>
                            <th>Protocolo</th>
                            <th>Carbohidrato (g)</th>
                            <th>Proteína (g)</th>
                            <th>Gordura (g)</th>
                            <th>Kcal</th>
                            <th>Treino</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>{{ feedback.protocolo.aluno.nome }} {{feedback.protocolo.aluno.sobrenome}} </td>
                                    {% if feedback.protocolo.protocolo %}
                                    <td style="text-align: center;"><a href="{{ protocolo.protocolo.url }}"><i class="fas fa-file-pdf"></i></a></td>
                                    {% else %}
                                    <td>Sem arquivo</td>
                                    {% endif %}                    
                                    <td>{{ feedback.protocolo.carbo }}</td>
                                    <td>{{ feedback.protocolo.prot }}</td>
                                    <td>{{ feedback.protocolo.fat }}</td>
                                    <td>{{ feedback.protocolo.kcal }} </td>
                                    <td>{{ feedback.protocolo.treino }}</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            <br><hr><br></div>
</div>
<div class="container">
    <h2>Feedback {{feedback.aluno.nome}} </h2>
    <h6>{{feedback.cadastrado_em}} </h6><hr>
    <div class="row">
        <div class="col">
            <h5>Peso Atual:    {{feedback.peso_atual}} kg</h5>

            <h5>Dieta: {{feedback.get_dieta_display}}</h5>
            <p>Dificuldades: {{feedback.dificuldade_dieta}}</p>
        
            <h5>Suplemento: {{feedback.get_suplemento_display }}</h5>
            <p>Dificuldades: {{feedback.dificuldade_suplemento}}</p>
        
            <h5>Treino: {{feedback.get_treino_display}}</h5>
            <p>Dificuldades: {{feedback.dificuldade_treino}}</p>
        
            <h5>Aeróbico: {{feedback.get_aerobico_display}}</h5>
            <p>Dificuldades: {{feedback.dificuldade_aerobico}}</p>
        
            <h5>O que melhorou:  </h5>
            <p>{{feedback.melhorou}}</p>
            <h5>O que poderia melhorar:</h5>
            <p>{{feedback.pode_melhorar}}</p>
            <h5>Comprometimento: {{feedback.comprometimento}}</h5>

            <h5>Avaliação Coach: {{feedback.avalia_coach}}</h5>
        
            <h5>Sugestões: </h5>
            <p>{{feedback.sugestoes}}</p>
        </div>
    
        <div class="col">
            <h5>Foto Frente:</h5>
            {% if feedback.foto_frente %}
            <img class="custom-image" src="{{feedback.foto_frente.url}}" alt="">
            {% endif %}
            <h5>Foto Lado:</h5>
            {% if feedback.foto_lado %}
            <img class="custom-image" src="{{feedback.foto_lado.url}}" alt="">
            {% endif %}
            <h5>Foto Verso:</h5>
            {% if feedback.foto_verso %}
            <img class="custom-image" src="{{feedback.foto_verso.url}}" alt="">
            {% endif %}
            {% if feedback.video %}
            <h5>Vídeo</h5>
            <p><a href="{{feedback.video.url}}">{{feedback.video}} </a></p>
            {% endif %}


        </div>
        

    </div>
    <hr><br>
    {% if retorno %}
    <h5 style="text-align: center;">Feedback com Retorno do Coach {{retorno.coach.nome}}!</h3>
    <div  style=" max-height: 1000px; overflow-x:auto;overflow-y:auto;">
        <table class="table table-striped table-bordered">
            <thead style="position: sticky;top: 0;background-color: #fff; z-index: 1;">
                <tr>
                    <th style="text-align: center;">Coach</th>
                    <th style="text-align: center;">Retorno</th>

                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td style="text-align: center;">{% if retorno.coach.avatar %} <img class="img-fluid" style="max-width:150px;max-width:150px;" src="{{retorno.coach.avatar.url}} " alt=""> {% endif %} <h6>{{ retorno.feedback.coach.nome }} {{feedback.coach.sobrenome}}</h6>  </td>

                            <td style="text-align: center; vertical-align: middle;"><a href="{% url 'retorno_detail' retorno.id %}"><button class="btn-info btn-lg">{{retorno.cadastrado_em|date:"d/m/Y"}}</button></a> </td>
    
                        </tr>
                </tbody>
            </table>
    </div>
    {% elif request.user.coach and not retorno %}
    <p style="text-align: center;"> <a href="{% url 'novo_retorno' feedback.id %}"> <button  class="btn-info" >Novo Retorno</button> </a>  </p>
    <p style="text-align: center;">Ainda sem Retorno para esse feedback.</p>

    {% else %}
    <p style="text-align: center;">Ainda sem Retorno para esse feedback.</p>

    {% endif %}
</div>


{% endblock %}