{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
    {% if protocolos_aluno %}
    <h2>Meus Protocolos ({{protocolos_aluno.count}}) </h2>
    <div  style=" max-height: 1000px; overflow-x:auto;overflow-y:auto;">
        <table class="table table-striped table-bordered">
            <thead style="position: sticky;top: 0;background-color: #fff; z-index: 1;">
                <tr>
                    <th>Cadastro</th>
                    <th>Aluno</th>
                    <th>Protocolo</th>
                    <th>Carbohidrato</th>
                    <th>Proteína</th>
                    <th>Gordura</th>
                    <th>Treino</th>
                    <th>Novo Feedback</th>
                    </tr>
                </thead>
                <tbody>
                    {% for protocolo in protocolos_aluno %}
                        <tr>
                            <td>{{protocolo.cadastrado_em|date:"d/m/Y"}} </td>
                            <td>{{ protocolo.aluno.nome }}{{protocolo.aluno.sobrenome}} </td>
                            <td>{{ protocolo.protocolo }}</td>
                            <td>{{ protocolo.carbo }}</td>
                            <td>{{ protocolo.prot }}</td>
                            <td>{{ protocolo.fat }}</td>
                            <td>{{ protocolo.treino }}</td>
                            <td><button class="btn-warning"><a href="{% url 'novo_feedbackV1' protocolo.id %}">CRIAR</a></button> </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% elif protocolos_coach %}
    <h2>Meus Protocolos ({{protocolos_coach.count}}) </h2>
    <div  style=" max-height: 1000px; overflow-x:auto;overflow-y:auto;">
        <table class="table table-striped table-bordered">
            <thead style="position: sticky;top: 0;background-color: #fff; z-index: 1;">
                <tr>
                    <th>Cadastro</th>
                    <th>Aluno</th>
                    <th>Protocolo</th>
                    <th>Carbohidrato</th>
                    <th>Proteína</th>
                    <th>Gordura</th>
                    <th>Treino</th>
                    <th>Atualizado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for protocolo in protocolos_coach %}
                        <tr>
                            <td>{{protocolo.cadastrado_em|date:"d/m/Y"}} </td>
                            <td>{{ protocolo.aluno.nome }}{{protocolo.aluno.sobrenome}} </td>
                            <td>{{ protocolo.protocolo }}</td>
                            <td>{{ protocolo.carbo }}</td>
                            <td>{{ protocolo.prot }}</td>
                            <td>{{ protocolo.fat }}</td>
                            <td>{{ protocolo.treino }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
    <h5>Sem Protocolos Cadastrados</h5>
    {% endif %}
        <br><br>


</div>

{% endblock %}
