{% extends 'base.html' %}
{% block title %} Retorno {% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Feedback do Aluno {{retorno.protocolo.aluno.nome}} {{retorno.protocolo.aluno.sobrenome}}</h3>
            <h6>Enviado: {{retorno.feedback.cadastrado_em|date:"d/m/Y"}} </h6>
            <hr>
            <p>Peso: {{retorno.feedback.peso_atual}} kg </p>
            <p>Dieta: {{retorno.feedback.get_dieta_display }}</p>

            <p>Suplemento: {{retorno.feedback.get_suplemento_display }}</p>
        
            <p>Treino: {{retorno.feedback.get_treino_display}}</p>
        
            <p>Aeróbico: {{retorno.feedback.get_aerobico_display}}</p>
        
            <p>O que melhorou:</p>
            <p>{{retorno.feedback.melhorou}}</p>
            <p>Ainda pode melhorar:</p>
            <p>{{retorno.feedback.pode_melhorar}}</p>
            <p>Comprometimento: {{retorno.feedback.comprometimento}}</p>

            <p>Avaliação Coach: {{retorno.feedback.avalia_coach}}</p>
        
            <p>Sugestões: {{retorno.feedback.sugestoes}}</p>




        </div>
    
        <div class="col">
            <h3>Retorno do Coach {{retorno.protocolo.coach.nome}} {{retorno.protocolo.coach.sobrenome}} </h3>
            <h6>Enviado: {{retorno.cadastrado_em|date:"d/m/Y"}} </h6>
            <hr>
            <p>
            <h5>Peso: {{retorno.peso_comentario}}</h5>
            </p>
            <p>
            <h5>Dieta: {{retorno.dieta_comentario}}</h5>
            </p>
            

            <p>
            <h5>Suplemento: {{retorno.suplemento_comentario}}</h5>
            </p>
            

            <p>
            <h5>Treino: {{retorno.treino_comentario}}</h5>
            </p>
            

            <p>
            <h5>Aerobico: {{retorno.aerobico_comentario}}</h5>
            </p>
            

            <p>
            <h5>Melhorias: {{retorno.melhorias_comentario}}</h5>
            </p>
            

            <p>
            <h5>Sugestões: {{retorno.sugestoes_comentario}}</h5>
            </p>
            

            <p>
            <h5>Comentários Finais: {{retorno.comentarios_finais}} </h5>
            </p>

           

 

        </div>
        <br><br>
    </div>

</div>
<hr><br>
<div class="hero" style="text-align: center;">
    {% if retorno.fotos_comentario %}
    <div class="ml-4" style="text-align: justify;">
        <h5>Comentários Fotos: {{retorno.fotos_comentario}}</h5>
    </div>

    {% endif %}
<br>

    <h5>Foto Frente:</h5>
    {% if retorno.feedback.foto_frente %}
    <img class="img-fluid" src="{{retorno.feedback.foto_frente.url}}" alt="">
    {% else %}
    <p>Sem foto</p>
    {% endif %}
<br>

    <h5>Foto Lado:</h5>
    {% if retorno.feedback.foto_lado %}
    <img class="img-fluid" src="{{retorno.feedback.foto_lado.url}}" alt="">
    {% else %}
    <p>Sem foto</p>
    {% endif %}
<br>

    <h5>Foto Verso:</h5>
    {% if retorno.feedback.foto_verso %}
    <img class="img-fluid" src="{{retorno.feedback.foto_verso.url}}" alt="">
    {% else %}
    <p>Sem foto</p>
    {% endif %}

    {% if retorno.feedback.video %}
    <h5>Vídeo</h5>
    <p><a href="{{retorno.feedback.video}}">{{retorno.feedback.video}} </a></p>
    <h5>Coach {{retorno.protocolo.coach.nome}}: {{retorno.video_comentario}}</h5>

    {% endif %}
</div>
<hr><br>
<div class="container">
    <div class="row">
        <div class="col" >
            <div style="text-align: center;">
                <h3>Replicas <span>({{replicas.count}}) </span></h3><br>
            </div>

            <div class="hero">
                {% if request.user.coach and limite_replicas %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
            
                <button type="submit" class="btn-success">Enviar</button>
            </form>
            {% elif request.user.aluno and limite_replicas %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
            
                <button type="submit" class="btn-success">Enviar</button>
            </form>
            {% endif %}
   <br>
    
            {% if replicas %}
            {% for replica in replicas %}
            <div class="card">
                <div class="card-header">
                    <h3>{{replica.author}} </h3> <span>{{replica.cadastrado_em}} </span>
                </div>
                <div class="card-body">
                    {% if replica.dieta %}
                    <div class="card-text">Dieta: {{replica.dieta }}</div>
                    {% endif %}
                    {% if replica.suplemento %}
                    <div class="card-text">Suplemento: {{replica.suplemento }}</div>
                    {% endif %}
                    {% if replica.treino %}
                    <div class="card-text">Treino: {{replica.treino}}</div>
                    {% endif %}
                    {% if replica.aerobico %}
                    <div class="card-text">Aeróbico: {{replica.aerobico}}</div>
                    {% endif %}
                    {% if replica.demais_assuntos %}
                    <div class="card-text">Demais assuntos: {{replica.demais_assuntos}}</h5>
                    {% endif %}
                </div>
                {% endfor %}
                {% else %}
               <div class='card-text'>Sem replicas no momento.</div> 
            </div>
            {% endif %}


            </div>
        </div>
    </div><br>
</div><br>   



{% endblock %}